<!DOCTYPE html>
<html>
<head>
    <title>Student App</title>
    {% load static %}
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home-page.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/background.png' %}"> 
    <img width="480px"  src="/static_files_css/images/background.png" alt="img1">
</div>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Student App</h1>
        <p>The web-site is currently under development.</p>
    </div>
</body>
</html>


