

<ul class="menu">
    <li class="menu-item">
        <a href="{% url 'home' %}" class="menu-link">
            <i class="ai-home"></i>
            <span>Home</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{% url 'events' %}" class="menu-link">
            <i class="ai-file"></i>
            <span>Create Event</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{% url 'login' %}" class="menu-link">
            <i class="ai-circle-plus"></i>
            <span>Login</span>
        </a>
    </li>    
    <li class="menu-item">
        <a href="{% url 'register' %}" class="menu-link">
            <i class="ai-book-open"></i>
            <span>Register</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="ai-bell"></i>
            <span>Notifications</span>
        </a>
    </li>
{#    <li class="menu-item">    #}
{#        <a href="{% url 'edit_event_page' %}" class="menu-link">#}
{#            <i class="ai-gear"></i>#}
{#            <span>Edit Event</span>#}
{#        </a>#}
{#    </li>#}
{#    <li class="menu-item">#}
{#        <a href="#" class="menu-link">#}
{#            <i class="ai-person"></i>#}
{#            <span>Profile</span>#}
{#        </a>#}
{#    </li>#}
</ul>